Immutable Data Structures:
------------
1.string

2.tuple

Accessing characters of string:
-----
1.By using indexing

2.By using slicing operator

In [1]:
s="LJ University"
print(s[1])
print(s[-1])
print(s[-5])
print(s[20])

J
y
r

IndexError: string index out of range

Slicing
-----
Syntax:

s[begin index:end index:step]  by default step=1

In [11]:
s="Learning Python is very easy!!"
print(s[1:7:1])
print(s[1:7:2])
print(s[1:7])
print(s[:7])
print(s[9:])
print(s[::])
print(s[:])
print(s[::-1]) # reverse
print(s[-1:-4]) # no o/p
print(s[-1:-4:-1])

earnin
eri
earnin
Learnin
Python is very easy!!
Learning Python is very easy!!
Learning Python is very easy!!
!!ysae yrev si nohtyP gninraeL

!!y

Mathematical operations for string:
----
concatenation--->+

repetition or string multiplication--->*

In [12]:
print("Arman"+"Dhairya")
print("Lucky"*3)

ArmanDhairya
LuckyLuckyLucky

In [19]:
#Comparison of string
#Based on ascii value
s1=input("enter 1st string ")
s2=input("enter 2nd string ")
if s1==s2:
    print("Both strings are equal")
elif s1<s2:
    print("2nd string is greater")
else:
    print("1st string is greater")

enter 1st string Arman
enter 2nd string Aryan
2nd string is greater

Joining of string:
---
Syntax:

s=separator.join(group of strings)

In [23]:
t=("Apple","Banana","Cherry")
s="-".join(t)
print(s)
s="@".join(t)
print(s)

Apple-Banana-Cherry
Apple@Banana@Cherry

In [27]:
# Formatting of string
name="Arman"
salary=50000
age=24
print("{}'s salary is {} and his age is {}".format(name,salary,age)) #if we remove {} then it's blank
print("{0}'s salary is {1} and his age is {2}".format(name,salary,age))
print("{1}'s salary is {0} and his age is {2}".format(name,salary,age))

Arman's salary is 50000 and his age is 24
Arman's salary is 50000 and his age is 24
50000's salary is Arman and his age is 24

# Important Functions of String:

In [28]:
# 1.len()
a="LJ University"
print(len(a))

13

In [37]:
# 2.Removing spaces from string
# (a) rstrip()
t="banana   "
r=t.rstrip()
print(len(t))
print(len(r))
print(r)

9
6
banana

In [38]:
t="banana   "
r=t.rstrip("a")
print(len(t))
print(len(r))
print(r)

9
9
banana

In [39]:
t="banana"
r=t.rstrip("a")
print(len(t))
print(len(r))
print(r)

6
5
banan

In [40]:
t="banana"
r=t.rstrip("an")
print(len(t))
print(len(r))
print(r)

6
1
b

In [41]:
t="bandana"
r=t.rstrip("an")
print(len(t))
print(len(r))
print(r)

7
4
band

In [42]:
# 2.Removing spaces from string
# (b) lstrip()
t="   banana"
r=t.lstrip()
print(len(t))
print(len(r))
print(r)

9
6
banana

In [45]:
t="bandana"
r=t.lstrip("ban")
print(r)

dana

In [46]:
t="  bandana  "
r=t.lstrip("ban")
print(r)

  bandana

In [43]:
# 2.Removing spaces from string
# (c) strip()
t="   banana   "
r=t.lstrip()
print("From all fruits",r,"is my fav")

From all fruits banana    is my fav

In [47]:
# 3.Changing the case of string
# (a) upper()
t="Hello Friends"
x=t.upper()
print(x)

HELLO FRIENDS

In [48]:
# 3.Changing the case of string
# (b) lower()
t="Hello Friends"
x=t.lower()
print(x)

hello friends

In [49]:
# 3.Changing the case of string
# (c) swapcase()
t="Hello My name is DIYA"
x=t.swapcase()
print(x)

hELLO mY NAME IS diya

In [50]:
# 3.Changing the case of string
# (d) title()
t="Welcome to LJIET"
x=t.title()
print(x)

Welcome To Ljiet

In [51]:
# 3.Changing the case of string
# (e) capitalize()
t="Learning Python is very easy"
x=t.capitalize()
print(x)

Learning python is very easy

In [52]:
# 4.To check type of characters present in a string(check function)
# Answer only in True or Falsee
# (a) isalnum()   [a to z, A to Z, 0-9]
t="company123"
x=t.isalnum()
print(x)
#Returns True if all elements are alpha-numeric

True

In [53]:
t="company 123"
x=t.isalnum()
print(x)

False

In [57]:
# (b) isalpha()   [a to z, A to Z]
t="company123"
x=t.isalpha()
print(x)

False

In [56]:
t="companyx"
x=t.isalpha()
print(x)

True

In [58]:
# (c) isdigit() or isnumeric()
t="500500"
x=t.isdigit()
print(x)

True

In [59]:
t="company123"
x=t.isnumeric()
print(x)

False

In [64]:
# (d) islower()
t="hello world!!"
x=t.islower()
print(x)

True

In [65]:
# (e) isupper()
t="HELLO WORLD!!"
x=t.isupper()
print(x)

True

In [66]:
# (f) istitle()
a="HELLO HOW ARE YOU?"
b="Hello"
c="22 Names"
d="This Is %!"
print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
True
True
True

In [69]:
# (g) isidentifier()
a="MyFolder"
b="Demo002"
c="2demo"
d="my demo"
print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

In [71]:
# (h) isspace()
t="  "
x=t.isspace()
print(x)

False

In [75]:
s="Pyt@$ho%n is 12 Very Ea$sy"
letters=0
digits=0
space=0
specialchar=0
upper=0
lower=0
for i in s:
    if i.isupper():
        upper=upper+1
    elif i.islower():
        lower=lower+1
    elif i.isalpha():
        letters=letters+1
    elif i.isdigit():
        digits=digits+1
    elif i.isspace():
        space=space+1
    else:
        specialchar=specialchar+1
print("letter=",letters,"digits=",digits,"space=",space,"uppercase=",upper,"lowercase=",lower,"special char=",specialchar)

letter= 0 digits= 2 space= 4 uppercase= 3 lowercase= 13 special char= 4

find()
--
syntax:

s.find(substring)

s.find(substring,begin,end)

In [79]:
s="Learning Python is very easy"
print(s.find("a"))  
print(s.find("a",3,100))
print(s.find("Python"))
print(s.find("d"))
# o/p is the index

2
25
9
-1